.caroselWrapper {
    width: 100%;
    height: 80vh !important;
    position: relative;
}

.caroselWrapper img {
    width: 100%;
    height: 80vh;;
    object-fit: cover;
}

.caroselWrapper::before{
    width: 100%;
    height: 80vh;;
    position: absolute;
    background-color: black;
    top : 0;
    left: 0;
}
